<p>
  TODO Eventos
</p>

<!-- Event 1 -->
<div class="row">
  <div class="col-md-12">
    <div class="events-container">
      <div class="events-header">
        <h4>Evento 1</h4>
      </div>
      <img class="events-img" src="assets/images/events/event1.PNG" alt="">
      <div class="events-btn-more">
        <a href="/event"> <button role="button" class="btn btn-info pull-right">Más información</button></a>
      </div>
    </div>
  </div>
</div>
<br>

<!-- Event 2 -->
<div class="row">
  <div class="col-md-12">
    <div class="events-container">
      <div class="events-header">
        <h4>Evento 2</h4>
      </div>
      <img class="events-img" src="assets/images/events/event2.jpg" alt="">
      <div class="events-btn-more">
        <button role="button" class="btn btn-info pull-right">Más información</button>
      </div>
    </div>
  </div>
</div>
