<!-- Low vision -->
<p *ngIf="category.id === 1; else othercategory">
  La categoria seleccionada es {{category.name}}
</p>

<!-- Blindness -->
<ng-template #othercategory>
  La categoria seleccionada es {{category.name}}

  <div class="applications-header">
    <h4>{{category.name}}</h4>
  </div>

  <div class="row">
    <!--Applications-->
    <div class="inner-row">
      <div class="col-md-4" *ngFor='let application of category.applications'>
        <div class="jumbotron">
          <a routerLink="/application/{{application.id}}">
            <!-- <a role="button" (click)='onSelect(application)'> -->
            <img class="logo center-block" src="{{application.logo}}" alt="">
          </a>
          <br>
          <div class="info">
            <small>Nombre: {{application.name}}</small>
            <br>
            <small>Categoría: {{application.category}}</small>
            <br>
            <div class="info-rating">
              <small>Valoración:
                <bar-rating [(rate)]="application.rating" [max]="5" [theme]="'default'"></bar-rating>
              </small>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>