TODO Application

<div class="row">
  <div class="col-md-12">
    <div id="application" class="jumbotron">
      <!--Logo & basic info-->
      <div class="inner-row-app">
        <div class="col-md-4">
          <img class="logo" src="assets/images/logos/app1.webp" alt="">
        </div>
        <div class="col-md-4">
          <div class="info">
            <small>Nombre: {{name}}</small>
            <br>
            <small>Categoría: {{category}}</small>
            <br>
            <small>Valoración: {{rating}} estrellas</small>
            <br>
            <a *ngFor="let item of starList; let i=index " (click)="setStar(i)">
              <i *ngIf="item" class="fa fa-star-o"></i>
              <i *ngIf="!item" class="fa fa-star"></i>
            </a>
          </div>
        </div>
        <div class="col-md-4" id="btn-download">
          <button type="button" class="btn btn-success" tooltip="Descargar aplicación.">Descargar</button>
        </div>
      </div>

      <!-- Screenshots & carousel -->

      <div class="inner-row-app" id="screenshots">
        <h4>Screenshots</h4>
        <div class="col-md-12">

          <div class="col-md-4">
            <img src="assets/images/carousel/ca1.webp" alt="">
          </div>
          <div class="col-md-4">
            <img src="assets/images/carousel/ca2.webp" alt="">
          </div>
          <div class="col-md-4">
            <img src="assets/images/carousel/ca3.webp" alt="">
          </div>
        </div>

      </div>

      <!-- Description -->
      <div class="inner-row-app">
        <div class="col-md-12">
          <h4>Descripción</h4>
          <div class="description">
            <div class="">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt corrupti culpa, labore tenetur dolorum rerum pariatur
              debitis nam eius voluptatibus neque, sed recusandae repellendus unde possimus ducimus incidunt voluptas consequatur.
            </div>

            <div id="collapseBasic" [collapse]="!isCollapsed" class="card card-block card-header">
              <div class="">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt corrupti culpa, labore tenetur dolorum rerum pariatur
                debitis nam eius voluptatibus neque, sed recusandae repellendus unde possimus ducimus incidunt voluptas consequatur.
              </div>
            </div>
            <button id="read-more" type="button" class="btn btn-primary center-block" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
              aria-controls="read-more" (collapsed)="collapsed()" (expanded)="expanded()">{{messageBtn}}
            </button>

            <div id="collapseEvent" class="card card-block card-header" (collapsed)="collapsed()" (expanded)="expanded()" [collapse]="isCollapsed">
            </div>
          </div>
        </div>
      </div>

      <!-- Rate and comment -->

      <div class="inner-row-app" id="rate-comment">
        <div class="col-md-12">
          <h4>Califica y comenta</h4>
          <div class="rate-comment">
            <form action="">
              <div id="rating">
                Calificación: {{rating}}
                <a *ngFor="let item of starList; let i=index " (click)="setStar(i)">
                  <i *ngIf="item" class="fa fa-star-o"></i>
                  <i *ngIf="!item" class="fa fa-star"></i>
                </a>
              </div>
              <div id="comment">
                Comentario:
                <textarea class="form-control" name="comentario" id="comentario" cols="40" rows="5" placeholder="Ingrese su comentario"></textarea>
              </div>

              <button type="button" class="btn btn-primary center-block" (click)="openModal(templateSave)">Guardar</button>

              <!-- Using modal message -->

              <ng-template #templateSave>
                <div class="modal-body text-center">
                  <p>¡Comentario guardado exitosamente!</p>
                  <button type="button" class="btn btn-default" (click)="confirm()">Ok</button>
                </div>
              </ng-template>

              <!-- <input type="submit" class="btn btn-primary center-block" id="save-comment" value="Guardar"> -->
            </form>
          </div>
        </div>
      </div>

      <!-- Comments -->

      <div class="inner-row-app">
        <div class="col-md-12">
          <h4>Comentarios</h4>
          <!-- Commentary 1 -->
          <div class="user-comment">
            <div class="user-image">
              <i class="fa fa-user-circle fa-2x"></i>
            </div>
            <div class="user-name-rate">
              <div>Usuario1</div>
              <div>Estrellas</div>
            </div>
            <div class="date">
              Fecha:dd/mm/aaaa
            </div>
            <br>
            <div class="comment center-block">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis molestiae dolores adipisci ullam in. Alias, quas, vel
              explicabo odit ipsam cumque corrupti numquam deserunt magni distinctio aliquid doloribus fuga aliquam!
            </div>
          </div>
          <!-- Commentary 2 -->

          <div class="user-comment">
            <div class="user-image">
              <i class="fa fa-user-circle fa-2x"></i>
            </div>
            <div class="user-name-rate">
              <div>Usuario1</div>
              <div>Estrellas</div>
            </div>
            <div class="date">
              Fecha:dd/mm/aaaa
            </div>
            <br>
            <div class="comment center-block">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis molestiae dolores adipisci ullam in. Alias, quas, vel
              explicabo odit ipsam cumque corrupti numquam deserunt magni distinctio aliquid doloribus fuga aliquam!
            </div>
            <!-- <div class="read-more-comment">
                <button type="button" class="btn btn-primary center-block">Leer más</button>
              </div> -->
          </div>
          <div class="more-comments">
            <button type="button" class="btn btn-primary center-block">Ver más comentarios</button>
          </div>
        </div>
      </div>

      <!-- Additional info -->

      <div class="inner-row-app">
        <div class="col-md-12">
          <h4>Información adicional</h4>
          <div class="extra-info">
            <div class="left-pane">
              País: {{country}}
              <br> Desarrollado por: {{developedBy}}
              <br> Fecha liberación: {{releaseDate}}
              <br> Versión android mínima: {{androidMin}}
              <br>
            </div>
            <div class="right-pane">
              &nbsp;
              <br> Versión: {{version}}
              <br> Plataforma: {{platform}}
              <br> Web aplicación: {{appWebPage}}
              <br>
            </div>
          </div>
        </div>
      </div>

      <!-- FAQ Section -->

      <div class="inner-row-app">
        <div class="col-md-12">
          <h4>FAQ</h4>
          <div class="faq">
            <div class="question">
              <div class="question-header">
                <strong>Pregunta 1</strong>
              </div>
              <div class="question-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem adipisci quod nemo vitae cumque sit, iusto porro! Eligendi
                nesciunt et amet numquam dolore voluptatem a maiores deleniti. Ex, cum ipsam.
              </div>
              <div class="response">
                <strong>Respuesta</strong>
              </div>
              <div class="response-body">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere nisi perferendis sit, error placeat fuga neque quibusdam
                ullam voluptates animi officiis doloremque quod soluta eius architecto repellendus vitae ipsa iste!
              </div>
            </div>
            <div class="ask-btn">
              <button type="button" class="btn btn-primary center-block" (click)="openModal(templateAsk)">Preguntar</button>

              <!-- Using modal message -->

              <ng-template #templateAsk>
                <div class="modal-body text-center">
                  <div class="modal-header">
                    <h4 class="modal-title">¿Cuál es su pregunta?</h4>
                  </div>
                  <div class="form-group">
                    <form action="">
                      <textarea class="form-control" name="pregunta" id="pregunta" cols="30" rows="3" placeholder="Ingrese su pregunta..."></textarea>
                      <br>
                      <input type="submit" class="btn btn-primary center-block" (click)="confirm()" value="Guardar pregunta">
                    </form>
                  </div>
                  
                  <!-- <button type="button" class="btn btn-default" (click)="confirm()">Guardar pregunta</button> -->
                </div>
              </ng-template>
              <!-- <button type="button" class="btn btn-primary center-block">Preguntar</button> -->
            </div>
          </div>
        </div>
      </div>

      <p>&nbsp;</p>

    </div>
  </div>