<p>
  TODO User
</p>

<div class="user">
  <div class="user-header">
    Tu información personal
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="user-left">
        <div class="userprofile-image">
          <i class="fa fa-user fa-5x"></i>
        </div>
        <div class="user-actions">

          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Usuario123</a>
              <hr>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Aplicaciones descargadas</a>
              <hr>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Preguntas realizadas</a>
              <hr>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Eventos guardados</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="user-right">
        <div class="user-info">
          <label for="">Nombre:</label> {{fullName}}
          <span>
            <i role="button" tooltip="Editar" class="fa fa-pencil" aria-hidden="true" (click)="editInfo(template)"></i>
          </span>

          <!-- Using modal message -->

          <ng-template #template>
            <div class="modal-body text-center">
              <p>Editar campo</p>
              <form action="">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Ingrese" [(ngModel)]="fullName" name="fullName">
                </div>
              </form>
              <button type="button" class="btn btn-default" (click)="confirm()">Guardar</button>
            </div>
          </ng-template>

        </div>
        <div class="user-info">
          <label for="">Correo:</label> {{email}}
          <span>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </span>
        </div>
        <div class="user-info">
          <label for="">Contrasena:</label> {{password}}
          <span>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </span>
        </div>
        <div class="user-info">
          <label for="">Cumpleanios:</label> {{birthdayDate}}
          <span>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </span>
        </div>
        <div class="user-info">
          <label for="">Género:</label> {{genre}}
          <span>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </span>
        </div>
        <div class="user-info">
          <label for="">Nacionalidad:</label> {{nationality}}
          <span>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </span>
        </div>
        <div class="user-info">
          <label for="">Biografía:</label>
          <span>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </span>
          <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci molestias iure eum totam necessitatibus modi,
          reiciendis voluptate perspiciatis qui vero, magnam autem suscipit eos, omnis quis. Distinctio aperiam perspiciatis
          temporibus!
        </div>

      </div>

    </div>
  </div>
</div>