<p>
  TODO User
</p>

<div class="user">
  <div class="user-header">
    Tu información personal
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="user-left">
        <div class="user-image">
          <i class="fa fa-user fa-5x"></i>
        </div>
        <div class="user-actions">
          Usuario123
          <hr>
          <a href="#">Aplicaciones descargadas</a>
          <hr>
          <a href="#">Preguntas realizadas</a>
          <hr>
          <a href="#">Eventos guardados</a>
        </div>
      </div>

    </div>
    <div class="col-md-8">

    </div>
  </div>
</div>