<p>
  TODO New
</p>

<div class="new-header">
  <strong>
    <h4>{{new.title}}</h4>
  </strong>
</div>
<div class="new-container">
  <div class="new-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut culpa, ratione, dignissimos in officiis vero reprehenderit eveniet
    voluptatum eligendi, nulla perspiciatis aspernatur consequatur architecto autem eos facilis ea tempore cupiditate.
  </div>
  <img class="new-img-left" src="assets/images/news/new1/img1.jpg" alt="">
  <div class="new-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut culpa, ratione, dignissimos in officiis vero reprehenderit eveniet
    voluptatum eligendi, nulla perspiciatis aspernatur consequatur architecto autem eos facilis ea tempore cupiditate. Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Facere saepe ex delectus dicta, consequuntur voluptatum quia quisquam
    ducimus, at repudiandae in modi repellendus est tempore impedit expedita? Excepturi, rerum in.
  </div>
  <img class="new-img-right" src="assets/images/news/new1/img1.jpg" alt="">
  <div class="new-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut culpa, ratione, dignissimos in officiis vero reprehenderit eveniet
    voluptatum eligendi, nulla perspiciatis aspernatur consequatur architecto autem eos facilis ea tempore cupiditate. Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Facere saepe ex delectus dicta, consequuntur voluptatum quia quisquam
    ducimus, at repudiandae in modi repellendus est tempore impedit expedita? Excepturi, rerum in.
  </div>


</div>